@model CameRoomWeb.Models.GrapherModel.GrapherRegisterModel
@{
    ViewBag.Title = "GrapherRegister";
}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Grapher Register</title>

<script type="text/javascript">
    function EventTypeClicked1(sender) {
            document.getElementById('congratprice').style.display = sender.checked ? 'block' : 'none';
    }
    function EventTypeClicked2(sender) {
            document.getElementById('weddingprice').style.display = sender.checked ? 'block' : 'none';
    }
    function EventTypeClicked3(sender) {
            document.getElementById('otherprice').style.display = sender.checked ? 'block' : 'none';
    }
</script>

</head>
<body>
<div>
<h2>Register</h2>
@using (Html.BeginForm("GrapherRegister", "Grapher", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td style = "width:150px;">Email</td>
            <td>@Html.TextBoxFor(x => x.GrapherEmail)</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>@Html.TextBoxFor(x => x.Password)</td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td>@Html.TextBoxFor(x => x.ConfirmPassword)</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@Html.TextBoxFor(x => x.GrapherName)</td>
        </tr>
        <tr>
            <td>Surname</td>
            <td>@Html.TextBoxFor(x => x.GrapherSurname)</td>
        </tr>
        <tr>
            <td>Sex</td>
            <td>@Html.DropDownListFor(x => x.GrapherSex, new[] {
        new SelectListItem() {Text = "Male",    Value = "1"},
        new SelectListItem() {Text = "Female",  Value = "2"}
    }, "<Sex>")</td>
        </tr>
        <tr>
            <td>Personal ID</td>
            <td>@Html.TextBoxFor(x => x.GrapherPersonalID)</td>
        </tr>
        <tr>
            <td>PIC</td>
            <td><input type="file" name="photo" id="photo" />  </td>
        </tr>
        <tr>
            <td>Telephone Number</td>
            <td>@Html.TextBoxFor(x => x.GrapherMobileNumber)</td>
        </tr>
        <tr>
            <td>Event Type</td>
           @* <td>@Html.CheckBoxFor(x => x.EventTypeforCongratulation) Congratulation</td>*@
            <td>
                <input type="checkbox" id="CheckBox1" name="CongratType" value="1" runat="server" onclick="EventTypeClicked1(this)">Congratulation
                <div id="congratprice" style="display: none">
                    Morning:
                    @Html.TextBoxFor(x => x.PriceforCongratulationMorning)&nbsp&nbsp
                    Afternoon
                    @Html.TextBoxFor(x => x.PriceforCongratulationAfternoon)&nbsp&nbsp
                    Fullday
                    @Html.TextBoxFor(x => x.PriceforCongratulationFullday)&nbsp&nbsp
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" id="CheckBox2" name="WeddingType" value="1" runat="server" onclick="EventTypeClicked2(this)">Wedding
                <div id="weddingprice" style="display: none">
                    Morning:
                    @Html.TextBoxFor(x => x.PriceforWeddingMorning)&nbsp&nbsp
                    Afternoon
                    @Html.TextBoxFor(x => x.PriceforWeddingAfternoon)&nbsp&nbsp
                    Evening
                    @Html.TextBoxFor(x => x.PriceforWeddingEvening)&nbsp&nbsp
                    Fullday
                    @Html.TextBoxFor(x => x.PriceforWeddingFullday)&nbsp&nbsp
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" id="CheckBox3" name="OtherType" value="1" runat="server" onclick="EventTypeClicked3(this)">Other Event
                <div id="otherprice" style="display: none">
                    Morning:
                    @Html.TextBoxFor(x => x.PriceforOtherMorning)&nbsp&nbsp
                    Afternoon
                    @Html.TextBoxFor(x => x.PriceforOtherAfternoon)&nbsp&nbsp
                    Evening
                    @Html.TextBoxFor(x => x.PriceforOtherEvening)&nbsp&nbsp
                    Fullday
                    @Html.TextBoxFor(x => x.PriceforOtherFullday)&nbsp&nbsp
                </div>
            </td>
        </tr>
        <tr>
            <td>Province</td>
            <td>@Html.DropDownListFor(m => m.ProvinceID, Model.listProvince, new { @class = "dropdown", style = "width:210px;" })</td>
        </tr>
    </table>
    <br \><br \>
    <input type="submit" value="Register" />
}
</div>
</body>
</html>